<h1>Weather forecast for your city!</h1>

<h2>City: {{ city }}</h2>


<p>
    Today afternoon:
    <ul style="list-style-type:none">
        <li>Temperature: {{  forecastsToday.afternoon.getTemperature() }} [&#8451;]</li>
        <li>Rainfall: {{  forecastsToday.afternoon.getRainfall() }} [mm]</li>
        <li>Cloudiness: {{  forecastsToday.afternoon.getCloudiness() }}</li>
    </ul>
</p>
<p>
    Tomorrow morning:
    <ul style="list-style-type:none">
        <li>Temperature: {{  forecastsTomorrow.morning.getTemperature() }} [&#8451;]</li>
        <li>Rainfall: {{  forecastsTomorrow.morning.getRainfall() }} [mm]</li>
        <li>Cloudiness: {{  forecastsTomorrow.morning.getCloudiness() }}</li>
    </ul>
</p>
<p>
    Tomorrow midday:
    <ul style="list-style-type:none">
        <li>Temperature: {{  forecastsTomorrow.midday.getTemperature() }} [&#8451;]</li>
        <li>Rainfall: {{  forecastsTomorrow.midday.getRainfall() }} [mm]</li>
        <li>Cloudiness: {{  forecastsTomorrow.midday.getCloudiness() }}</li>
    </ul>
</p>
<p>
    Tomorrow night:
    <ul style="list-style-type:none">
        <li>Temperature: {{  forecastsTomorrow.night.getTemperature() }} [&#8451;]</li>
        <li>Rainfall: {{  forecastsTomorrow.night.getRainfall() }} [mm]</li>
        <li>Cloudiness: {{  forecastsTomorrow.night.getCloudiness() }}</li>
    </ul>
</p>
